body {
    background-color: #eca2a2;
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
    padding-top: 50px;
}

h1 {
    color:#d10a6d;
    text-align: center;
}

a {
    color: #d10a6d;
    text-decoration: none;
}

link {
    color: #d10a6d;
    text-decoration: underline;
    &:hover {
        color: #a00;
    }
    &:visited {
        color: #000000;
    }
}

/*menu*/

.menu {

    margin-bottom: 20px;
    background-color: #333;
    width: 100%;
    padding: 10px;
    color: #d10a6d;
    position: fixed;
    top: 0;
}

.menu a {
    color: #d10a6d;
    text-decoration: none;
}
.menu a:hover {
    color: #a00;
}
.menu a:visited {
    color: #bbbaba;
}
/*classit*/ 
.rally2 {
    font-size: medium;
    margin-top: 20px;
}
.content-50 {
    width: 50%;
    float: left;
    margin: 0;
    
}

.inner_box {
    border-radius: 10px;
    border: 1px solid #333;
    padding: 10px;
    margin: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #333;
    color:#bbbaba;
    font-weight: bold;
}

/*div fontit*/
.inner_box h1, h2 {
    color: #eca2a2;
    text-align: center;
}

.space_above {
    margin-top: 20px;
}
.pink_txt {
    color: #eca2a2;
}